<header class="header">
  <div class="header-container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#" class="nav-link">How It Works</a>
        </li>
        <li class="nav-item">
          <a href="#section-garden" class="nav-link">Vegetables</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="header-logo">
      <svg width="16" height="16">
        <use href=""></use>
      </svg>
      <a href="/index.html" class="nav-logo">veggieboost</a>
    </div>
    <button class="header-basket" type="button">
      <svg width="24" height="24">
        <use href=""></use>
      </svg>
    </button>
    <button class="icon-burger js-open-menu" type="button">
      <svg width="24" height="24">
        <use href=""></use>
      </svg>
    </button>
  </div>
  <div class="mobile-container js-menu-container">
    <button type="button" class="mobile-close-btn js-close-menu">
      <svg width="8" height="8">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="modal-mobile-nav">
      <div class="header-logo">
        <svg width="16" height="16">
          <use href=""></use>
        </svg>
        <a href="/index.html" class="nav-logo">veggieboost</a>
      </div>
      <ul class="modal-mobile-list">
        <li class="modal-mobile-item">
          <a href="" class="modal-mobile-link">How It Works</a>
        </li>
        <li class="modal-mobile-item">
          <a href="" class="modal-mobile-link">Vegetables</a>
        </li>
        <li class="modal-mobile-item">
          <a href="" class="modal-mobile-link">Contacts</a>
        </li>
      </ul>
      <button class="header-basket" type="button">
        <svg width="24" height="24">
          <use href=""></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
