<section class="hero">
  <div class="hero-reviews">
    <img
      class="hero-reviews-photo1"
      src="./img/hero-img/review1.png"
      alt="review 1"
      width="40px"
      height="40px"
    />
    <img
      class="hero-reviews-photo2"
      src="./img/hero-img/review2.png"
      alt="review 1"
      width="40px"
      height="40px"
    />
    <img
      class="hero-reviews-photo3"
      src="./img/hero-img/review3.png"
      alt="review 1"
      width="40px"
      height="40px"
    />
    <div class="hero-reviews-tex">
      <p class="hero-reviews-p1">2k</p>
      <p class="hero-reviews-p2">reviews</p>
    </div>
  </div>
  <h1 class="hero-header">organic vegetables to your diet today!</h1>
  <p class="hero-tex">
    Our expertly curated vegetable baskets are made with the freshest, highest
    quality vegetables available. Fresh Harvest Box has got you covered. Fresh,
    high-quality vegetables in expertly curated vegetable baskets delivered to
    you.
  </p>
  <button type="button" class="hero-btn">shop now</button>
  <div class="hero-photo-wrapper">
    <div class="hero-photo-background"></div>
    <img
      class="hero-photo-img"
      src="./img/hero-img/hero-main-photo.png"
      alt="girl with vegetable"
      width="230px"
      height="228px"
    />
  </div>
  <ul class="hero-list hero-list-first">
    <li class="hero-list-item-first">#organic</li>
    <li class="hero-list-item">#products</li>
  </ul>
  <ul class="hero-list">
    <li class="hero-list-item">#basket</li>
    <li class="hero-list-item">#vegetables</li>
  </ul>
</section>
