<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="modal-btn" data-modal-close>
            <svg class="modal_christ" width="" height="">
                <use href="./img/icons.svg#icon-close"></use>
            </svg>
        </button>

        <p class="modalp">Your Order</p>
        <ul class="modal-div">
            <li class="modal-li">
                <div class="modal-li-check">
                    <h5 class="modal-h5">Cabbage Basket</h5>
                    <p class="modal-p">Plant</p>
                </div>
                <img class="modal-img"
                    srcset="./img/modal/cabbage-mobile.png 428w, ./img/modal/cabbage-tab.png 768w, ./img/modal/cabbage-desk.png 1158w,"
                    src="./img/modal/cabbage.png" alt="" width="94" />
                <div class="modal-chek">
                    <input type="checkbox" name="user-privacy" id="goods1" value="true"
                        class="modal-input-check modal-visually-hidden">
                    <label for="goods1" class="modal-check-text">
                        <span class="modal-span">
                            <svg class="" width="10" height="8">
                                <use href="./img/icons.svg#icon-checkbox-pick"></use>
                            </svg>
                        </span>
                    </label>
                </div>
            </li>
            <li class="modal-li">
                <div class="modal-li-check">
                    <h5 class="modal-h5">Tomato Basket</h5>
                    <p class="modal-p">Plant</p>
                </div>
                <img class="modal-img"
                    srcset="./img/modal/tomato-mobile.png 428w, ./img/modal/tomato-tab.png 768w, ./img/modal/tomato-desk.png 1158w"
                    src="./img/modal/tomato.png" alt="" width="94" />
                <div class="modal-chek">
                    <input type="checkbox" name="user-privacy" id="goods2" value="true"
                        class="modal-input-check modal-visually-hidden">
                    <label for="goods2" class="modal-check-text">
                        <span class="modal-span">
                            <svg class="" width="10" height="8">
                                <use href="./img/icons.svg#icon-checkbox-pick"></use>
                            </svg>
                        </span>
                    </label>
                </div>
            </li>
            <li class="modal-li">
                <div class="modal-li-check">
                    <h5 class="modal-h5">Vegetables Basket</h5>
                    <p class="modal-p">Plant</p>
                </div>
                <img class="modal-img"
                    srcset="./img/modal/vegetables-basket-mobile.png 428w, ./img/modal/vegetables-basket-tab.png 768w, ./img/modal/vegetables-basket-desk.png 1158w "
                    src="./img/modal/vegetables.png" alt="" width="94" />
                <div class="modal-chek">
                    <input type="checkbox" name="user-privacy" id="goods3" value="true"
                        class="modal-input-check modal-visually-hidden">
                    <label for="goods3" class="modal-check-text">
                        <span class="modal-span">
                            <svg class="" width="10" height="8">
                                <use href="./img/icons.svg#icon-checkbox-pick"></use>
                            </svg>
                        </span>
                    </label>
                </div>
            </li>
        </ul>
        <div class="modal-div-anket">
            <form class="modal-form">

                <div class="modal-input-div">
                    <div class="modal-inputdiv-icon">
                        <input type="text" class="modal_icon" name="user-name" id="user-name"
                            placeholder="Enter full name..." />
                    </div>
                </div>
                <div class="modal-input-div">
                    <div class="modal-inputdiv-icon">
                        <input type="text" class="modal_icon" name="email" id="mailto" placeholder="Enter email..." />
                    </div>
                </div>
                <div class="modal-input-div">
                    <div class="modal-inputdiv-icon">
                        <input type="text" id="card__number" class="modal_icon" placeholder="Enter card.."
                            pattern="[0-9]{14,23}" required autofocus autocomplete="cc-number" name="cardnumber">
                    </div>
                </div>
                <div class="modal-input-div">
                    <textarea class="modal_text" name="user-comment" id="user-comment" cols="" rows=""
                        placeholder="Enter comments..."></textarea>
                </div>

                <button type="submit" class="modal-buttom" data-modal-open="">Submit</button>
            </form>
            <div>
                <img class="modal-girl-tab" src="./img/modal/img-girl-tab.png" alt="" width="">
                <img class="modal-girl-desk" src="./img/modal/img-girl-desk.png" alt="" width="">
            </div>
        </div>
    </div>
</div>