<section class="recall container">
    <h2 class="recall-tittle">Fresh Harvest Box has got you covered</h2>
    <p class="recall-text">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat
        healthier or support local
        farmers. Order your box today and start enjoying the best that nature has to offer!</p>
    <form class="recall-form">
        <div class="recall-line">
            <label class="recall-label">
                <input class="recall-input" name="text" type="text" placeholder="+380 ()">
            </label>
            <button class="recall-btn" type="submit">Recall</button>
        </div>

    </form>
    <img srcset="./img/recall/harvest-girl-min.jpg 1x, ./img/recall/harvest-girl-min.jpg 2x"
        src="./img/recall/harvest-girl-min.jpg" alt="girl" width="335" height="357">
</section>