
.recall-tittle {
  color: var(--primary-dark-color);
  text-align: center;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  max-width: 315px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 80px;
}
.recall-text {
  color: var(--primary-dark-color);
  text-align: center;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
  max-width: 321px;
  width: 100%;
  margin-bottom: 40px;
}
.recall-form {
  margin-bottom: 40px;
}

.recall-form {
  display: inline-flex;
  justify-content: end;
}
.recall-input {
  padding: 15px 0;
  border-radius: 100px;
  border: 1px solid #c1bdbd;
  width: 260px;
  position: relative;
  padding-left: 24px;
}
.recall-input::placeholder {
  color: #c1bdbd;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
}
.recall-btn {
  border-radius: 100px;
  background: #fc8a11;
  padding: 15px 35px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  position: absolute;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.recall-btn:hover,
.recall-btn:focus {
  background: #a1c487;
}
.recall-img {
  border-radius: 40px;
  background: #faf3e7;
  background-image: url(../img/recall/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 80px;
}

@media screen and (min-width: 768px) {
  /* .container {
    max-width: 768px;
    padding: 0 32px 0 32px;
  } */

  /* .section {
    padding: 100px;
  } */

  .recall-tittle {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -1.6px;
    text-transform: uppercase;
    max-width: 524px;
    text-align: center;
  }
  .recall-text {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.72px;
    max-width: 499px;
    text-align: center;
  }
  .recall-line {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .recall-input {
    width: 350px;
  }
  .recall-img {
    border-radius: 80px;
    background-image: url(/img/recall/bg-tabl-m.png);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  /* .container {
    width: 100%;
    max-width: 1280px;
  }
  .section {
    padding-bottom: 124px;
  } */
  .recall-tittle {
    font-size: 48px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: -1.92px;
    max-width: 614px;
    margin-bottom: 40px;
    text-align: left;
  }
  .recall-text {
    max-width: 523px;
    margin-bottom: 80px;
  }
  .recall-desc {
    display: flex;
    flex-direction: column;
  }
  .recall-line {
    display: block;
  }
  .recall-img {
    background-image: url(/img/recall/bg-desc-max.png);
  }
  .recall-loc {
    display: flex;
  }
}
